/*Import font*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

* {
    font-family: 'Nunito', sans-serif;
}

/*Footer*/

footer {
    background-color: #e9e8e8;
    text-align: center;
    color: gray;
    margin-top: 5px;
}

footer a {
    color: gray;
}

footer p {
    color: black;
    font-size: 18px;
}